@{
    ViewBag.Title = "- Home";
}
<main>

    <div class="quiz-rounds">
        <a href="quick-round">
            <div class="quick-round">
                <img src="~/Images/quickround.png" />
                <p>Quick-Round</p>
            </div>
        </a>
        <a href="ultimate-round">
            <div class="ultimate-round">
                <img src="~/Images/ultimateround.png" />
                <p>Ultimate-Round</p>
            </div>
        </a>
    </div>
</main>
