@model dynamic
@{
    ViewBag.Title = "Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/content/csslib")

<style>
    body {
        font-family: 'poppins',sans-serif;
    }

    .logo-container a:hover {
        text-decoration: none;
        color: white;
    }

    main {
        margin: 100px;
    }

    button {
        width: 150px;
        height: 40px;
    }

    h2 {
        width: 15%;
        margin: auto;
        text-align: center;
        margin-top: 100px;
        font-family: 'poppins',sans-serif;
        border-bottom: 2px solid black;
        opacity: 0.9;
    }

    @@media screen and (max-width: 768px) {
        h2 {
            width: 190px;
            margin-top: 60px;
            margin-bottom: 30px;
        }

        main {
            margin: 10px;
        }

        button {
            width: 95px;
        }
    }
</style>
<main>
    <h2>Questions</h2>
    <br />
    <a href="/question/new"><p class="btn btn-primary">New Question</p></a>
    <br /><br />

    <table id="questions" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Question</th>
                <th>Topic</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>

    </table>
</main>

@section scripts
{

    <script>
        $(document).ready(function () {
            var table = $("#questions").DataTable({
                ajax:{
                    url:"/api/questions",
                    dataSrc:""
                },
                columns:[
                    {
                        data:"questionSentence",
                        render:function(data,type,question){
                            return "<p>"+question.questionSentence+"</p>";
                        }
                    },
                    {
                        data: "topic.name"


                    },
                    {
                        data:"id",
                        render:function(data) {
                            return "<button class='js-delete' data-question-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });
            $("#questions").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure want to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/questions/" + button.attr("data-question-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });

            });



        });


    </script>
}
