@model dynamic
@{
    ViewBag.Title = "New Question";
}
@Styles.Render("~/content/csslib")
<style>
    body {
        font-family: 'poppins',sans-serif;
    }

    .logo-container a {
        color: white;
        text-decoration: none;
    }


    main {
        margin: auto;
        width: 35%;
        margin-top: 75px;
        margin-bottom: 35px;
        box-shadow: 5px 5px 10px;
        border-radius: 10px;
    }

    #questionForm {
        width: 75%;
        margin: auto;
        padding-bottom: 25px;
    }

    .form-group {
        text-align: center;
        padding: 5px;
    }

    h2 {
        width: 50%;
        margin: auto;
        border-bottom: 2px solid black;
        font-family: 'poppins',sans-serif;
        text-align: center;
        margin-bottom: 30px;
        padding-top: 20px;
        font-size: 30px;
    }

    input, select {
        max-width: 280px;
        margin: auto;
    }

    button {
        height: 40px;
        width: 250px;
        margin-top: 15px;
        margin-left: 9%;
    }

    label.error {
        color: red;
    }

    input.error {
        border: 2px solid red;
    }

    @@media screen and (max-width: 1500px) {
        main {
            width: 400px;
        }


        h2 {
            width: 250px;
        }
    }
</style>
<main>

    <h2>New Question</h2>

    <form id="questionForm">
        <div class="form-group">
            <label>Question</label>
            <input id="question" name="question" required type="text" value="" class="form-control" />
        </div>
        <div class="form-group">
            <label>Topic</label>
            <select data-rule-selecttopic="true" class="form-control">
                <option id="0">Select Topic</option>
                <option id="1">History</option>
                <option id="2">Geography</option>
                <option id="3">Sports</option>
                <option id="4">Information Technology</option>
            </select>
        </div>

        <div class="form-group">
            <label>Option 1</label>
            <input id="option1" name="option1" required type="text" value="" class="form-control" />
        </div>
        <div class="form-group">
            <label>Option 2</label>
            <input id="option2" name="option2" required type="text" value="" class="form-control" />
        </div>
        <div class="form-group">
            <label>Option 3</label>
            <input id="option3" name="option3" required type="text" value="" class="form-control" />
        </div>
        <div class="form-group">
            <label>Option 4</label>
            <input id="option4" name="option4" required type="text" value="" class="form-control" />
        </div>

        <div class="form-group">
            <label>CorrectAnswer</label>
            <input id="correctanswer" name="correctanswer" data-rule-answerfromoptions="true" required type="text" value="" class="form-control" />
        </div>
        <button class="btn btn-primary">Save</button>
    </form>
</main>


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            var vm = {};
            $("button").click(function () {
                vm.questionSentence = $("#question").val();
                vm.topicId = $("option:selected").attr("id");
                vm.option1 = $("#option1").val();
                vm.option2 = $("#option2").val();
                vm.option3 = $("#option3").val();
                vm.option4 = $("#option4").val();
                vm.correctAnswer = $("#correctanswer").val();

                $.validator.addMethod("selectTopic", function () {
                    return $("option:selected").attr("id") !== "0";
                }, "Topic must be selected.");

                $.validator.addMethod("answerFromOptions", function () {
                    return vm.correctAnswer == vm.option1 || vm.correctAnswer == vm.option2 ||
                        vm.correctAnswer == vm.option3 || vm.correctAnswer == vm.option4;
                }, "Options should include the correct answer.");



                var validator = $("#questionForm").validate({
                    submitHandler: function () {
                        $.ajax({
                            url: "/api/questions",
                            method: "POST",
                            data: vm

                        }).done(function () {
                            toastr.success("New question added.");


                            $("#question").val("");
                            $("select").val("Select Topic");
                            $("#option1").val("");
                            $("#option2").val("");
                            $("#option3").val("");
                            $("#option4").val("");
                            $("#correctanswer").val("");

                            vm = {};

                            validator.resetForm();

                        }).fail(function () {
                            toastr.error("Something went wrong.");
                        });

                        return false;
                    }
                });


            });





        });
    </script>
}

